
:root{
    --main-texto:#616161;
    --main-title:#3f3f3f;
    --main-subtitle:#c7c7c7;

    --main-containmenu:#325FD4;
    --main-fondo:#ffffff;
    --main-delete:#4312A0;
    --main-update:#c040d1;
    --main-new:#ffffffa9;
    --main-hover:#f03e6a;
    --main-selected:#222135;

  }